<!DOCTYPE html>
<html>
    <head>{% load static %}{% load staticfiles %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdn.bootcss.com/popper.js/1.14.2/umd/popper.min.js"></script>
        <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="https://cdn.bootcss.com/noUiSlider/11.1.0/nouislider.min.js"></script>
        <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdn.bootcss.com/noUiSlider/11.1.0/nouislider.min.css" rel="stylesheet">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <link href="{% static 'css/toastr.min.css' %}" rel="stylesheet">
        <!--
          <link href="https://raw.githubusercontent.com/CodeSeven/toastr/master/build/toastr.min.css" rel="stylesheet">
          <script src="https://raw.githubusercontent.com/CodeSeven/toastr/master/build/toastr.min.js"></script>
        -->
        <script src="{% static 'lib/toastr.min.js' %}"></script>
        <script src="{% static 'lib/spin.min.js' %}"></script>
        <script src="{% static 'js/graph.js' %}"></script>
        <script src="{% static 'js/draw.js' %}"></script>
        <script src="{% static 'js/control.js' %}"></script>
        <script>first_load = true;</script>
        <title>Aesthetic Painting</title>
    </head>
   <body style = "background-image:url(/static/image/background.png);background-size:cover";>

   <div style = "background-color:#F2F2F2;width:1460px;height:760px;margin:0 auto;margin-top:70px;box-shadow:3px 3px 3px #666">
      <div style = "margin-top:26px;margin-left:26px;height:708px;width:1161px;float:left;">
        <div id="spin"></div>
      	<img src =  "{{image}}" id = "image" onload="first_load = false;
          if(this.width / this.height > 1161 / 708){
            record_size(this.height, this.width, this.width / 1161);
            this.height = this.height * 1161 / this.width;
            this.width = 1161;
            cvd();
          } else {
            record_size(this.height, this.width, this.height / 708);
            this.width = this.width * 708 / this.height;
            this.height = 708;
            cvd();
          }
          img_h = this.height;
          img_w = this.width;
          this.hidden = true;" hidden>
        <canvas id="canvas" class="image"></canvas>
        <video src = "{{video}}" autoplay muted id="vivideo" style = "object-fit:fill" onload="play_video();" hidden>
      </div>
      
      <div style = "float:left;width:222px;margin-left:26px;margin-top:20px;height:500px;text-align:right">
      		<p style = "font-family:'Times New Roman', Times, serif; font-size:24px;">Content</p>
            <p id = "description" style = "color:#666;font-family:Arial, Helvetica, sans-serif; font-size:18px;">{{description}}</p>
            <p style = "font-family:'Times New Roman', Times, serif; font-size:24px;margin-top:50px;">Adjective</p>
            <p id = "adj-word" style = "color:#666;font-family:Arial, Helvetica, sans-serif; font-size:18px;">{{adj}}</p>
            <p style = "font-family:'Times New Roman', Times, serif; font-size:24px;margin-top:50px;">Style</p>
            <p id = "style-word" style = "color:#666;font-family:Arial, Helvetica, sans-serif; font-size:18px;">{{style}}</p>
      </div>

      <div style = "float:left;width:222px;margin-left:26px;margin-top:20px;height:100px;text-align:right">
            <!--Atlantix-->

            <a id = "submit-btn" href="#" style = "margin-left:100px;font-family:'Times New Roman', Times, serif; font-size:24px;text-align:right" hidden>Submit</a>
            <p></p>
            <a id = "edit-btn" href="#" style = "font-family:'Times New Roman', Times, serif; font-size:24px;" hidden>Edit</a>
            <p></p>
            <!--
            <span id = "indicator2" style = "margin-left:100px;font-family:'Times New Roman', Times, serif; font-size:24px;text-align:right" hidden>Indicator2</span>
            <span id = "indicator" style = "margin-left:100px;font-family:'Times New Roman', Times, serif; font-size:24px;text-align:right" hidden>Indicator</span>
            <span id = "clear-btn" style = "margin-left:100px;font-family:'Times New Roman', Times, serif; font-size:24px;text-align:right" hidden>Clear</span>
            <span id = "label-btn" style = "margin-left:100px;font-family:'Times New Roman', Times, serif; font-size:24px;text-align:right" hidden>Label object</span>
            <a id = "down-image-href" href = "{{image}}" download="{{image}}" style = "margin-left:100px;font-family:'Times New Roman', Times, serif; font-size:24px;text-align:right">Download</a>
            <a id = "view-image-href" href = "{{image}}" target="_blank" style = "margin-left:100px;font-family:'Times New Roman', Times, serif; font-size:24px;text-align:right">View</a>
            -->
            <a id = "back-href" href = /homepage style = "font-family:'Times New Roman', Times, serif; font-size:24px;">Back</a>
      </div>
   </div>

    <form action = "edit" id = "info" style = "display:none">
        <input type = "text" id = "description" name = "description"></input>
        <input type = "text" id = "style" name = "style"></input>
        <input type = "text" id = "adj" name = "adj"></input>
        <input type = "text" id = "rect" name = "rect"></input>
    </form>

   <span hidden id="content">{{content}}</span>
   <span hidden id="image-name">{{image_name}}</span>
   <span hidden id="video-name">{{video_name}}</span>
   <img hidden src = "{{mask_image}}"      id = "mask_image">
   <img hidden src = "{{inp_image}}"       id = "inp_image">
   <img hidden src = "{{fused_image}}"     id = "fused_image">
   <img hidden src = "{{seg_style_image}}" id = "mask_image">
   </body>
</html>
