<!DOCTYPE html>
<html>
    <head>{% load static %}{% load staticfiles %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="{% static 'lib/jquery.min.js' %}"></script>
        <script src="{% static 'lib/popper.min.js' %}"></script>
        <script src="{% static 'lib/bootstrap.min.js' %}"></script>
        <script src="{% static 'lib/nouislider.min.js' %}"></script>
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/nouislider.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <link href="{% static 'css/pretty-checkbox.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/toastr.min.css' %}" rel="stylesheet">
        <!--
          <link href="https://raw.githubusercontent.com/CodeSeven/toastr/master/build/toastr.min.css" rel="stylesheet">
          <script src="https://raw.githubusercontent.com/CodeSeven/toastr/master/build/toastr.min.js"></script>
        -->
        <script src="{% static 'lib/toastr.min.js' %}"></script>
        <script src="{% static 'lib/spin.min.js' %}"></script>
        <script src="{% static 'js/graph.js' %}"></script>
        <script src="{% static 'js/draw.js' %}"></script>
        <script src="{% static 'js/control.js' %}"></script>

        <title>Aesthetic Painting</title>
    </head>
   <body style = "background-image:url(/static/image/background.png);background-size:cover";>

   <div style = "background-color:#F2F2F2;width:1460px;height:760px;margin:0 auto;margin-top:70px;box-shadow:3px 3px 3px #666;position: relative">
      <div style = "margin-top:26px;margin-left:26px;height:708px;width:1161px;float:left;">
        <div id="spin"></div>
          <img src =  "{{image}}" id = "image" onload="
          if(this.width / this.height > 1161 / 708){
            record_size(this.height, this.width, this.width / 1161);
            this.height = this.height * 1161 / this.width;
            this.width = 1161;
            cvd();
          } else {
            record_size(this.height, this.width, this.height / 708);
            this.width = this.width * 708 / this.height;
            this.height = 708;
            cvd();
          }
          img_h = this.height;
          img_w = this.width;
          if (!ratio)
            ratio = get_ratio();
          this.hidden = true;" hidden>
        <canvas id="canvas" class="image"></canvas>
        <video src = "{{video}}" autoplay muted id="vivideo" style = "object-fit:fill" onloadstart="console.log('video load start');" controls type='video/mp4' hidden>
      </div>

      <div style = "float:left;width:222px;margin-left:26px;margin-top:20px;height:300px;text-align:right;line-height: 80%;">
      		<p style = "font-family:'Times New Roman', Times, serif; font-size:24px;">Content</p>
            <p id = "description" style = "color:#666;font-family:Arial, Helvetica, sans-serif; font-size:18px;">{{description}}</p>
            <p style = "font-family:'Times New Roman', Times, serif; font-size:24px;margin-top:50px;">Aesthetic Effect</p>
            <p id = "adj-word" style = "color:#666;font-family:Arial, Helvetica, sans-serif; font-size:18px;">{{adj}}</p>
            <p style = "font-family:'Times New Roman', Times, serif; font-size:24px;margin-top:50px;">Artistic Style</p>
            <p id = "style-word" style = "color:#666;font-family:Arial, Helvetica, sans-serif; font-size:18px;">{{style}}</p>
      </div>

      <div style = "float:left;width:222px;margin-left:44px;height:50px"></div>

      <div id="type-selector" style = "float:left;width:222px;margin-left:44px;margin-top:0px;height:100px;font-family:'Times New Roman', Times, serif; font-size:20px;text-align:right" hidden>
        <div class="pretty p-icon p-curve p-jelly" >
            <input id='type-foreground' type="radio" name="radio66">
            <div class="state p-warning">
                <i class="icon mdi mdi-check"></i>
                <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Object</label>
            </div>
        </div>
        <p></p>
        <div class="pretty p-icon p-curve p-jelly">
            <input id='type-background' type="radio" name="radio66">
            <div class="state p-success">
                <i class="icon mdi mdi-check"></i>
                <label>Background</label>
            </div>
        </div>
      </div>

      <div style = "float:right;width:300px;margin-left:1140px;margin-top:0px;height:200px;text-align:right;color: #000000;position: absolute;bottom:-50px">

            <!--Atlantix-->
            <a id = "refine-btn" href="#" style = "margin-left:100px;font-family:'Times New Roman', Times, serif; font-size:24px;text-align:right;color: #000000" hidden>Start refining<br></a>
            <a id = "submit-btn" href="#" style = "margin-left:100px;font-family:'Times New Roman', Times, serif; font-size:24px;text-align:right;color: #000000" hidden>Submit<br></a>
            <a id = "edit-btn" href="#" style = "font-family:'Times New Roman', Times, serif; font-size:24px;color: #000000" hidden>Edit<br></a>
            <!--
            <span id = "indicator2" style = "margin-left:100px;font-family:'Times New Roman', Times, serif; font-size:24px;text-align:right" hidden>Indicator2</span>
            <span id = "indicator" style = "margin-left:100px;font-family:'Times New Roman', Times, serif; font-size:24px;text-align:right" hidden>Indicator</span>
            <span id = "label-btn" style = "margin-left:100px;font-family:'Times New Roman', Times, serif; font-size:24px;text-align:right" hidden>Label object</span>
            <a id = "view-image-href" href = "{{image}}" target="_blank" style = "margin-left:100px;font-family:'Times New Roman', Times, serif; font-size:24px;text-align:right">View</a>
            -->
            <a id = "cancel-btn" href="#" style = "margin-left:100px;font-family:'Times New Roman', Times, serif; font-size:24px;text-align:right;color: #000000" hidden>Cancel<br></a>
            <a id = "down-image-href" href = "{{image}}" download="{{image}}" style = "margin-left:100px;font-family:'Times New Roman', Times, serif; font-size:24px;text-align:right;color: #000000">Download<br></a>
            <a id = "back-href" href = /homepage style = "font-family:'Times New Roman', Times, serif; font-size:24px;color: #000000">Back<br></a>
      </div>
   </div>

    <form action = "edit" id = "info" style = "display:none">
        <input type = "text" id = "description" name = "description"></input>
        <input type = "text" id = "style" name = "style"></input>
        <input type = "text" id = "adj" name = "adj"></input>
        <input type = "text" id = "rect" name = "rect"></input>
    </form>

   <span hidden id="content">{{content}}</span>
   <span hidden id="image-name">{{image_name}}</span>
   <span hidden id="video-name">{{video_name}}</span>
   <img hidden src = "{{mask_image}}"      id = "mask_image">
   <img hidden src = "{{inp_image}}"       id = "inp_image">
   <img hidden src = "{{fused_image}}"     id = "fused_image">
   <img hidden src = "{{seg_style_image}}" id = "mask_image">
   </body>
</html>
